@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-VariableFont_slnt_wght.ttf);
}
@font-face {
  font-family: LexendDeca;
  src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: hsl(233deg, 47%, 7%);
  color: hsl(0deg, 0%, 100%);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  width: 70%;
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 8px;
}
main .img-side-mobile-wrapper {
  position: relative;
  display: none;
  border-radius: inherit;
}
main .img-side-mobile-wrapper .img-side-mobile {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: inherit;
}
main .img-side-mobile-wrapper .img-side-mobile-blocker {
  position: absolute;
  content: "";
  background-color: darkviolet;
  width: 100%;
  height: 98.5%;
  opacity: 0.3;
  top: 0;
}
main .info-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3rem;
}
main .info-side h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 2em;
}
main .info-side h1 span {
  color: hsl(277deg, 64%, 61%);
}
main .info-side .main-text {
  width: 65%;
  font-family: LexendDeca;
  font-size: 0.75rem;
  line-height: 1.5rem;
  padding: 2rem 0;
  color: hsla(0deg, 0%, 100%, 0.75);
  opacity: 0.75;
  text-align: left;
}
main .info-side .stats {
  padding-top: 3rem;
  display: flex;
}
main .info-side .stats div {
  padding-right: 20%;
}
main .info-side .stats div .stat-heading {
  font-family: Inter;
  color: hsl(0deg, 0%, 100%);
  font-family: Inter;
  font-size: 1.5rem;
}
main .info-side .stats div .stat-description {
  font-family: Inter;
  color: hsla(0deg, 0%, 100%, 0.6);
  opacity: 0.75;
  font-size: 0.75rem;
}
main .img-side-desktop-wrapper {
  border-radius: 8px;
  width: 50%;
}
main .img-side-desktop-wrapper .img-side-desktop {
  border-radius: 0px 8px 8px 0px;
  width: 100%;
  min-width: 475px;
  height: 100%;
  min-height: 396px;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 78%;
    min-width: 250px;
  }
  main .info-side {
    width: 90%;
    padding: 0;
  }
  main .info-side h1 {
    width: 80%;
    text-align: center;
    padding-top: 1em;
    font-size: 1.5em;
  }
  main .info-side .main-text {
    width: 80%;
    padding: 0.7em 0;
    line-height: 1.75em;
    font-size: 0.8em;
    text-align: center;
  }
  main .info-side .stats {
    padding-top: 0.5em;
    flex-direction: column;
    align-items: center;
  }
  main .info-side .stats div {
    text-align: center;
    padding-right: 0;
    padding-bottom: 1.5em;
  }
  main .img-side-mobile-wrapper {
    display: initial;
  }
  main .img-side-desktop-wrapper {
    display: none;
  }
}
.attribution {
  display: none;
  position: fixed;
  bottom: 1px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
